section{
    width: 350px;
    padding: 10px;
    border: 1px black solid;
    border-color: rgba(159, 159, 159, 0.642);
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
    background-color: rgba(240, 240, 240, 0.518);
}

.imag{
    width: 350px;
    border-radius: 8px;
}